<%-include('partials/header')%>

    <body>
        <%-include('partials/navbar')%>
                <div class="pb-5 pt-5" style="background-color: #06283D;">
                    <form action="/type" method="get">
                        <div class="container-fluid text-center">
                            <div class="row ">
                                <h1 class="h1 text-light pt-5 pb-4">Choose The Muscle You Want To Work On</h1>
                                <% for(let muscle of muscles){%>
                                    <div class="col-6 col-md-4 p-1">
                                        <button class="btn btn-outline-light" type="submit" name="muscle"
                                            value="<%=muscle%>"><img class="img-fluid rounded"
                                                src="/musclesPics/<%=muscle%>.jpg"></button>
                                    </div>
                                    <%}%>
                            </div>
                        </div>
                    </form>
            </div>
<%-include('partials/footer')%>