<%-include('partials/header')%>

    <title>Random Gym Exercise</title>
    <link rel="icon" href="/dumbbell_icon.png" type="image/icon type">
    </head>

    <body class=" bg-dark text-light">
        <%-include('partials/navbar')%>
            <div class="row m-5 pt-5">
                <div class="container-fluid align-items-center justify-content-center col-md-6">
                    <div class="card text-center bg-dark">
                        <div class="card-header bg-light">
                            <h1 class="text-primary">
                                <%=random.name%>
                            </h1>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Main Muscle: <%=random.muscle%>
                            </h4>
                            <p class="card-text">Difficulty: <%=random.difficulty%>
                            </p>
                            <div class="ratio ratio-16x9">
                                <iframe allowfullscreen src="<%=random.description%>&autoplay=1&mute=1" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <form action="/type" method="get">
                            <button class="btn btn-primary" type="submit" name="muscle" value="<%=random.muscle%>">Next</button>
                        </form>
                    </div>
                </div>
            </div>
<%-include('partials/footer')%>