<%-include('partials/header')%>

<body class=" bg-dark text-light">
    <%-include('partials/navbar')%>
    <div class="row align-items-center justify-content-center text-light background mt-desk">
        <div class="col-lg-6 text-center">
            <h1 class="text-primary">
                <%=random.name%>
            </h1>
            <h4 class="card-title">Main Muscle: <%=random.muscle%></h4>
            <p class="card-text">Difficulty: <%=random.difficulty%></p>
            <div class="ratio ratio-16x9 ">
                <iframe allowfullscreen src="<%=random.description%>&autoplay=1&mute=1" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </div>
            <form action="/type" method="get">
                <button class="btn btn-primary mt-5 p-2" type="submit" name="muscle" value="<%=random.muscle%>">Another Exercise</button>
            </form>
        </div>
    </div>
    <%-include('partials/footer')%>
