<%-include('partials/header')%>
    <title>All Exercises</title>
    <link rel="icon" href="/dumbbell_icon.png" type="image/icon type">
    </head>
    <body>
        <%-include('partials/navbar')%>
        <div class="container-fluid">
            <div class="row align-items-center text-light p-5" id="allExe">
                <div class="container-fluid col-md-6 text-center">
                    <h1 class="m-5">All Exercises</h1>
                    <form action='/exercise' method="post">
                        <select class="form-select" aria-label="Default select example" name="exercise">
                            <% for(let exercise of exercises){ %>
                                <option name=" <%= exercise.name%>">
                                    <%= exercise.name%>
                                </option>
                                <% } %>
                        </select>
                    </form>
                    <form action="/" method="post">
                        <button type="submit" class="btn btn-primary p-2 m-4">Give Me Details</button>
                    </form>
                </div>
            </div>
<%-include('partials/footer')%>