<%- include('partials/header') %>

    <body>
        <%- include('partials/navbar') %>
            <div class="container-fluid text-light p-5 background d-flex" id="allExe">
                <div class="text-center m-auto">
                    <h1 class="f-size pb-5">All Exercises</h1>
                    <form action='/exercise' method="get">
                        <select class="form-select" aria-label="Default select example" name="exercise">
                            <% let currentMuscle=null %>
                                <% for(let exercise of exercises){ %>
                                    <% if (exercise.muscle !==currentMuscle) { %>
                                        <% currentMuscle=exercise.muscle %>
                                            <optgroup label="<%= currentMuscle %>">
                                                <% } %>
                                                    <option name=" <%= exercise.name%>">
                                                        <%= exercise.name%>
                                                    </option>
                                                    <% } %>
                        </select>
                        <button type="submit" class="btn btn-primary p-2 mt-5">Start</button>
                    </form>
                </div>
            </div>
            <%- include('partials/footer') %>
    </body>