<%-include('partials/header')%>
 
    <body>
        <%-include('partials/navbar')%>
        <div class="container-fluid text-light p-5 position-relative background" id="allExe">
                <div class="position-absolute top-50 start-50 translate-middle text-center">
                    <h1 class="m-5">All Exercises</h1>
                    <form action='/exercise' method="get">
                        <select class="form-select" aria-label="Default select example" name="exercise">
                            <% for(let exercise of exercises){ %>
                                <option name=" <%= exercise.name%>">
                                    <%= exercise.name%>
                                </option>
                                <% } %>
                        </select>
                        <button type="submit" class="btn btn-primary p-2 m-4">GO</button>
                    </form>
                </div>
        </div>
<%-include('partials/footer')%>